---
layout: post
title: Electric Jones
---

<div class="post" id="home">
  <h1 class="pageTitle">Blog</h1>
    <p class="meta" style="align-content: center; text-align: center;">
      <strong>Topics</strong><br /> |
      {% if site.data.tags.manifest %}
        {% for tag in site.data.tags.manifest %}
        <a href="/tags/{{ tag }}.html">{{ tag }}</a> |
        {% endfor %}
      {% endif %}
    </p>

  <hr />

  234Learn about the blog in the <a href="https://www.electricjones.org/2018/08/03/introduction-and-map.html">introduction and map</a>.


</div>
