---
layout: default
title: Electric Jones
---

<div class="post" id="home">

    <p>
        2Welcome to Electric Jones' Lab. I am a Game Sciences Researcher and avid gamer.
        This site is dedicated to gathering important Game Studies research, promoting and introducing Game Sciences,
        describing my research projects, and being a window into my soul as I explore the overworld and many dungeons of academia.
    </p>

    <p class="meta" style="align-content: center; text-align: center;">
      <strong>Topics</strong><br /> |
      {% if site.data.tags.manifest %}
        {% for tag in site.data.tags.manifest %}
        <a href="/tags/{{ tag }}.html">{{ tag }}</a> |
        {% endfor %}
      {% endif %}
    </p>

    <hr />

  <ul class="posts noList">
    {% for post in site.posts %}
      <li>
        <span class="date">{{ post.date | date_to_string }}</span>
        <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
          <img src="https://www.electricjones.org/assets/img/{{ post.image }}_100.jpeg" style="width: 200px; float: left; margin-right: 10px; clear:both;">
          <p class="description" style = "margin-left: 0px; overflow:auto; display:block;">{% if post.excerpt %}{{ post.excerpt  | strip_html | strip_newlines | truncate: 120 }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 120 }}{% endif %}</p>
      </li>
    {% endfor %}
  </ul>
</div>
