---
layout: default
title: Blogs and Articles
debug: true
---

<div class="post" id="home">
  <h1 class="pageTitle">Blog</h1>
    <p class="meta" style="align-content: center; text-align: center;">
      <strong>Topics</strong><br /> |
      {% if site.data.tags.manifest %}
        {% for tag in site.data.tags.manifest %}
        <a href="/tags/{{ tag }}.html">{{ tag }}</a> |
        {% endfor %}
      {% endif %}
    </p>

  <hr />
  Learn about the blog in the <a href="https://www.electricjones.org/2018/08/03/introduction-and-map.html">introduction and map</a>.
  <hr />

<ul class="posts noList">
    {% for post in paginator.posts %}
      <li>
        <span class="date">{{ post.date | date: '%B %d, %Y' }}</span>
        <h3><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
        <img src="https://www.electricjones.org/assets/img/{{ post.image }}_thumb.jpeg" style="width: 175px; float: left; margin-right: 10px; clear:both;">
        <p style = "margin-left: 0px; overflow:auto; display:block;">{% if post.excerpt %}{{ post.excerpt  | strip_html | strip_newlines | truncate: 120 }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 200 }}{% endif %}</p>
        <p style="clear:both; height: 0;"></p>
      </li>
    {% endfor %}
  </ul>
  <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="previous button__outline">Previous</a>
    {% endif %}

    <span class="page_number ">
      Page: {{ paginator.page }} of {{ paginator.total_pages }}
    </span>

    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="next button__outline">Next</a>
    {% endif %}
  </div>
</div>
