---
layout: post
title: Electric Jones
debug: true
---

<div class="post" id="home">
  <h1 class="pageTitle">Blog</h1>
    <p class="meta" style="align-content: center; text-align: center;">
      <strong>Topics</strong><br /> |
      {% if site.data.tags.manifest %}
        {% for tag in site.data.tags.manifest %}
        <a href="/tags/{{ tag }}.html">{{ tag }}</a> |
        {% endfor %}
      {% endif %}
    </p>

  <hr />

  Learn about the blog in the <a href="https://www.electricjones.org/2018/08/03/introduction-and-map.html">introduction and map</a>.

<ul class="posts noList">
    {% for post in paginator.posts %}
      <li>
        <span class="date">{{ post.date | date: '%B %d, %Y' }}</span>
        <h3><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
        <p>{% if post.excerpt %}{{ post.excerpt }}{% else %}{{ post.excerpt | strip_html }}{% endif %}</p>
      </li>
    {% endfor %}
  </ul>
  <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="previous button__outline">Previous</a>
    {% else %}
      <span class="previous">Previous</span>
    {% endif %}
    <span class="page_number ">
      Page: {{ paginator.page }} of {{ paginator.total_pages }}
    </span>
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="previous button__outline">Previous</a>
    {% else %}
      <span class="previous">Previous</span>
    {% endif %}
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="next button__outline">Next</a>
    {% else %}
      <span class="next ">Next</span>
    {% endif %}
  </div>
</div>
